// Import node package example
//@import "~randomPackage";

$primary:rgb(0,48,255);
$secondary: hsl(225, 57%, 67%);

$primaryFont: hsl(216, 33%, 97%);
$secondaryFont: hsl(221, 68%, 93%);


// Just for testing 
img{
    height: auto;
    width: 10.8rem;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;

    // just for testing
    background-color: hsl(227, 42%, 51%);
}


/* Header ----------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/


.main{
    padding: 1.2rem;
}

.header{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo searchBar";
    align-items: center;
    color: $primaryFont;

    &__logo{
        grid-area: logo;
        font-size: 2rem;
        text-transform: capitalize;
        padding: 0.4rem;
    }

    &__searchBar{
        grid-area: searchBar;
        padding: 0.4rem;
        background-color: $secondary;
        border-radius: 0.4rem;
        padding: 0.6rem;
    }

    &__searchBar input{
        -webkit-appearance: none;
        background-color: $secondary;
        color: $primaryFont;
        border: 0;
        max-width: 12rem;
        text-transform: uppercase;
    }

    &__searchBar input:focus{
        outline: none;
    }

    &__searchBar input::placeholder{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4rem;
    }

   

    &__searchBar button[type=submit]{
        cursor: pointer;
        color: $primaryFont;
        border:none;
        background-color: none;
        display: inline-block;
        border: none;
        margin: 0;
        text-decoration: none;
        background: $secondary;
        font-family: sans-serif;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        
    }

    &__searchBar button[type=submit] .fas{
        font-size: 1.6rem;
    }


}

/* mainView ----------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.mainView{
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "heading heading" 
    "icon temp";
    margin: 5rem 4rem;
    color: $primaryFont;


    &__headingPrimary{
        grid-area: heading;
        padding-bottom: 0.8rem;
    }

    &__headingPrimary .headingPrimary--sub{
        display: block;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.2;
        color: $secondaryFont;
    }

    &__headingPrimary .headingPrimary--main{
        display: block;
        font-weight: 600;
        line-height: 1.4;
        font-size: 2.4rem;
        color: $primaryFont;
    }

    &__headingSecondary{
        grid-area: temp;
        justify-self: end;
        font-weight: 300;
        font-size: 9.6rem;
        line-height: 1;
    }

    &__icon{
        grid-area: icon;
    }



}



