// Import node package example
//@import "~randomPackage";


// Main colours
$primary:hsl(227,42%,51%);
$secondary: hsl(225, 57%, 67%);
$forecastPrimary:hsl(0,0%,100%);
$backgroundOverlay: hsla(227,42%,51%, 80%);

// Font colours
$primaryFontColour: hsl(216, 33%, 97%);
$secondaryFontColour: hsl(221, 68%, 93%);
$forecastFontPrimary: hsl(209, 18%, 30%);
$forecastFontSecondery: hsl(211, 12%, 43%);
$forecastFontTertiary: hsl(211, 13%, 65%);


// Button colours
$buttonActive: hsl(0,0%,100%);
$buttonActiveFont: hsl(209,18%,30%);
$buttonInactive: hsl(216, 33%, 97%);
$buttonInactiveFont: hsl(210, 16%, 82%);
$buttonClicked: hsl(221, 68%, 93%);

// Shadows
$primaryShadow: 0 0.2rem 0.2rem hsla(0, 0, 0, 0.3);
$primaryShadowActive: 0 0.1rem 0.1rem hsla(0, 0, 0, 0.3);


// Fonts
$font-primary: 'Roboto Web', 'Roboto', sans-serif;



// Just for testing 
img{
    height: auto;
    width: 10.8rem;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
}

body{
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.7;
    box-sizing: border-box;

    // just for testing
    background-color: hsl(227, 42%, 51%);
}


/* Header ----------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/


.main{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "head"
    "main"
    "nav"
    "sub"
    ;
}

.header{
    padding: 1.2rem;
    grid-area: head;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo searchBar";
    align-items: center;
    color: $primaryFontColour;

    &__logo{
        grid-area: logo;
        font-size: 2rem;
        text-transform: capitalize;
        padding: .4rem;
    }

    &__searchBar{
        grid-area: searchBar;
        padding: .4rem;
        background-color: $secondary;
        border-radius: .4rem;
        padding: .6rem;
    }

    &__searchBar input{
        -webkit-appearance: none;
        background-color: $secondary;
        color: $primaryFontColour;
        border: 0;
        max-width: 10rem;
        text-transform: uppercase;
    }

    &__searchBar input:focus{
        outline: none;
    }

     // TODO:
    // - placeholder colour not working in chrome

    &__searchBar input::placeholder{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.4rem;
        color: $secondaryFontColour;
    }

   

    &__searchBar button[type=submit]{
        cursor: pointer;
        color: $primaryFontColour;
        border:none;
        background-color: none;
        display: inline-block;
        border: none;
        margin: 0;
        text-decoration: none;
        background: $secondary;
        font-family: sans-serif;
        cursor: pointer;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        
    }

    &__searchBar button[type=submit] .fas{
        font-size: 1.6rem;
    }


}

/* mainView ----------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.mainView{
    grid-area: main;
    justify-self: center;
    display: grid;
    grid-template-areas: 
    "heading heading" 
    "icon temp";
    color: $primaryFontColour;
    margin: 4.8rem 0;
    


    &__headingPrimary{
        grid-area: heading;
        padding-bottom: .8rem;
    }

    &__headingPrimary .headingPrimary--sub{
        display: block;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 1.2;
        color: $secondaryFontColour;
    }

    &__headingPrimary .headingPrimary--main{
        display: block;
        font-weight: 600;
        line-height: 1.4;
        font-size: 2.4rem;
        color: $primaryFontColour;
    }

    &__headingSecondary{
        grid-area: temp;
        justify-self: end;
        font-weight: 300;
        font-size: 9.6rem;
        line-height: 1;
        padding: 1.2rem 0 1.2rem 2.8rem;
    }

    &__icon{
        grid-area: icon;
        padding: 1.2rem 0;
    }

}



/* nav -------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.nav{
    grid-area: nav;
    grid-row: 3;
    justify-self: center;
    display: flex;
    width: 80%;
    height: 4.4rem;
    z-index: 100;

    &__button{
        border: none;
        text-decoration: none;
        box-shadow: $primaryShadow;
        font-size: 1.4rem;
        margin: 0;
        width: 100%;
        padding: 1.2rem 0;
        cursor: pointer;
        display: flex;
        align-items: center;
    }


    &__button:hover, &__button:focus, &__button:visited, &__button:active{
        border: 0;
        outline: none;
    }
    
    &__button:active{
        transform: translateY(.08rem);
        transition-duration: .01s;
        box-shadow: $primaryShadowActive;
        background-color: $buttonClicked;

    }

    &__button .fas{
        margin:0 2.4rem
    }

    &__button span{
        margin:0 2.4rem;
    }


    &__backBtn--active{
        border-radius: .4rem 0 0 .4rem;
        background-color: $buttonActive;
        color: $buttonActiveFont;
    }

    &__backBtn--inactive{
        border-radius: .4rem 0 0 .4rem;
        background-color: $buttonInactive;
        color: $buttonInactiveFont;
    }

    &__backBtn--active .fas, &__backBtn--inactive .fas{
        margin-right: auto;
    }

    &__forwardBtn--active{
        border-radius: 0 .4rem .4rem 0;
        background-color: $buttonActive;
        color: $buttonActiveFont;
    }

    &__forwardBtn--inactive{
        border-radius: 0 .4rem .4rem 0;
        background-color: $buttonInactive;
        color: $buttonInactiveFont;
    }
    
    &__forwardBtn--active .fas, &__forwardBtn--inactive .fas{
        margin-left: auto;
    }

}

/* hourlyForecast section ------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.hourlyForecast{
    grid-area: sub;
    grid-row: 3;
    width: 100%;
    background-color: $forecastPrimary;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 4.8rem;
    margin-top: 2.4rem;

}

.forecast{
    display: grid;
    justify-self: center;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 6rem 1fr 1fr;
    grid-template-areas: 
    "icon title title"
    "icon info info";
    padding:  1.2rem;
    line-height: 1.5;

    &__title{
        grid-area: title;
    }
    &__title .forecast__title--sub{
        display: block;
        color: $forecastFontSecondery;
        font-size: 1.2rem;
    }
    &__title .forecast__title--main{
        display: block;
        color: $forecastFontPrimary;
        font-size: 1.4rem; 
        font-weight: 600; 
    }

    &__info{
        grid-area: info;
        color: $forecastFontTertiary;
    }

    &__info ul li{
        display: inline;
        font-size: 1.2rem;
        font-weight: 300;
        padding-right: .8rem;
    }

    &__info li span{
       font-weight: 300;
    }

    &__icon{
        grid-area: icon;
        align-self: center;
    }

    &__icon img{
        height: auto;
        width: 4.8rem;
    }
}

/* Background Overlay ----------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../assets/images/background.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(.2rem);
    z-index: -1;

    &__overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $backgroundOverlay;
        opacity: .8;
    }
}


